:root{
  --body_background: white;
  --heading_color: black;
  --subheading_color: #737676;
  --body_color: #AAABAB;
  --link-color: blue;
}
[dark-theme="dark"]{
  --body_background: black;
  --heading_color: white;
  --subheading_color: #dde0e0;
  --body_color: #c2c4c4;
  --link_color: #20c4c4;
}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--body_color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
